.item button {
  padding: 0;
  border: none;
  background-color: white;
  color: gray;
}

.item {
  margin-bottom: 10px;
}

.item input[type=text] {
  width: 10rem;
}

.item .react-tagsinput input {
  margin-left: 0.35rem;
  width: 2.5rem;
  background-color: whitesmoke;
  border: none;
}

.item .react-tagsinput {
  display: block;
}

.item .react-tagsinput-tag {
  margin: 0 2px;
}

.item .react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.item .react-tagsinput-tag a::before {
  margin-left: 2px;
  content: " ×";
  font-size: smaller;
}

.item .react-tagsinput-tag {
  background-color: honeydew;
  border-radius: 2px;
  color: grey;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 2px;
}

.item .item-name {
  display: inline-block;
  font-size: larger;
}

.item .item-date {
  display: inline-block;
  margin: 0 0.35rem;
  font-size: smaller;
  font-style: italic;
  color: gray;
}