ul {
  list-style: none;
  padding: 0;
}

ul input {
  margin-right: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul input[type="text"] {
  width: 12rem;
}

ul button {
  margin-right: 0.2rem;
}

.filters {
  margin-top: 1.5rem;
}

.filters span {
  margin-right: 0.2rem;
}

.filters span button {
  cursor: pointer;
  border: 0;
  border-radius: 10%;
  background-color: whitesmoke;
  color: grey;
  padding: 5px;
}

.filters span button:disabled {
  background-color: wheat;
}
