.items {
  margin-left: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul input {
  margin-right: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul button {
  margin-right: 0.2rem;
}

.filters span {
  margin-right: 0.2rem;
}